.about,
.showcase {
    border-bottom: 1px solid #dbdbdb
}

.jumbotron h1,
.learn-more h3 {
    font-family: Shift, sans-serif;
    font-weight: 700
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: 700;
    padding: 14px 10px;
    text-transform: uppercase
}

.nav li {
    display: inline
}

.jumbotron {
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover
}

.jumbotron .container {
    position: relative;
    top: 100px
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px
}

.jumbotron p {
    font-size: 20px;
    color: #fff
}

.about h2,
.showcase h2 {
    color: #393c3d;
    text-align: center
}

.about {
    background-color: #f7f7f7
}

.about h2 {
    font-size: 24px
}

.about p {
    font-size: 15px;
    margin-bottom: 13px
}

.showcase {
    background-color: #efefef
}

.showcase h2 {
    font-size: 24px
}

.showcase p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 13px
}

.stylish-panel {
    padding: 20px 0;
    text-align: center
}

.stylish-panel>div>div {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .2s
}

.stylish-panel>div:hover>div {
    margin-top: -10px;
    border: 1px solid #c8c8c8;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 5px 2px;
    background: rgba(200, 200, 200, .1);
    transition: .5s
}

.stylish-panel>div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

.learn-more {
    background-color: #f7f7f7
}

.learn-more h3 {
    font-size: 18px
}

.learn-more a {
    color: #00b0ff
}
